<footer class="info">
  <table>
    <tr>
      <td>Bei Fragen an mich wenden!</td>
      <td rowspan="5"><img class="logo" src="assets/img/Logos/HS-Wismar_Logo-FWW_V1_4C.jpg"></td>
      <td>Hochschule Wismar</td>
    </tr>
    <tr>
      <td></td>
      <td>Fakultät für Wirtschaftswissenschaften</td>
    </tr>
    <tr>
      <td>Anna Preis</td>
      <td>Phillipp-Müller-Straße 14</td>
    </tr>
    <tr>
      <td><a href="mailto:a.domascan@stud.hs-wismar.de">a.domascan@stud.hs-wismar.de</a></td>
      <td>23966 Wismar</td>
    </tr>
    <tr>
      <td></td>
      <td><a href="www.wi.hs-wismar.de">www.wi.hs-wismar.de></a></td>
    </tr>
  </table>
</footer>
