.flexrow {
  display: flex;
  justify-content : center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;

}
.route {
  justify-content: center;
  text-align: center;
  padding: 20px;
  height: 20px;
}


