.studentForm {
  font-size: 18px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  background-color: white;
  display: flex;
  min-width: 600px;
  width:100%;
  align-items: center;
  display: table;
  table-layout: auto;
  column-gap: 50px;
}

.studentForm.form.button {
  display: flex;
  text-align: center;
  }

.fields {
  padding: 12px 10px;
  margin: 8px 0;
  min-width: 600px;
  box-sizing: content-box;
  text-align: justify;
  display: inline-grid;
  column-gap: 20px;
  row-gap: 5px;
  grid-template-columns: auto auto;
}


